<footer class="top-page-footer">
  <div class="foot-contents">
    <div class="foot-left-contents">
      <ul class="service-lists">
        <h2>サービス紹介</h2>
          <li class="service-list">青空マーケット</li>
          <li class="service-list">集客・販売促進</li>
          <li class="service-list">生産者インタビュー</li>
          <li class="service-list">お問い合わせ</li>
          <li class="service-list">ヘルプ</li>
          <li class="service-list">特定商法引法に基づく表記</li>
          <li class="service-list">利用規約</li>
      </ul>
    </div>
    <div class="foot-right-contents">
      <ul class="about-campany-lists">
        <h2>企業情報</h2>
        <li class="about-countny-list">運営会社</li>
        <li class="about-countny-list">採用情報</li>
        <li class="about-countny-list">プライバシーポリシー</li>
      </ul>
    </div>
  </div>
</footer>