<header class='top-page-header'>
  <div class="title-contents">
    <%= link_to image_tag("vege_title_logo1.png",class:"vege_icon"),"/"%>
    <form class="serach-form"  action="#">
      <input class="input-box" placeholder="野菜名・生産者の名前・キーワードで検索">
      <button class="serach-button">
        <%= image_tag "search_mushimegane.png",class:"search-icon"%>
      </button>
    </form>
  </div>
</header>